{% extends "account/base.html" %} 
{% load i18n %}
 {% load account socialaccount %}
  {%load crispy_forms_tags%}

   {% block head_title %}
   {% trans "Sign In" %}
   {% endblock %} 
   {% block content %} 
   {% get_providers as socialaccount_providers %}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if socialaccount_providers %}
        <div>
            <h1>{% trans "Sign In" %}</h1>
            <p>{% blocktrans with site.name as site_name %}Pour plus de faciliter, connectez-vous avec l’un de ces réseaux sociaux. <a href="{{ signup_url }}">
S'enregistrer</a>{{ site_name }} account and sign in below:{% endblocktrans %}</p>
        </div>
        <div class="socialaccount_ballot">
           <h2>Continue Avec</h2>
            <ul class="list-group" >

              <li class = "list-group-item"> 
              <a href="/accounts/facebook/login" class="btn btn-block btn-lg btn-facebook"><i class="fa fa-facebook"></i> | Facebook</a>

              </li>
              <li class="list-group-item"> 
                  <a href="/accounts/google/login" class="btn btn-lg btn-block btn-google-plus"><i class="fa fa-google-plus"></i> | Google</a>
               </li>
              <li class="list-group-item"> 
                
                <a href= "/accounts/twitter/login"class=" btn btn-lg btn-block btn-twitter"><i class="fa fa-twitter"></i> | Twitter</a>
               </li>
                
            </ul>
           <h2>OR</h2>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %} {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

            {% endif %}
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %} {{ form | crispy}} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>
            </form>
            
        </div>
    </div>
  </div>
{% endblock %}

{%block sitecss%}
  
{%endblock%}