{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
  {%load crispy_forms_tags%}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
		        <div class="socialaccount_ballot">
           <h2>Continue Avec</h2>
            <ul class="list-group" >

              <li class = "list-group-item"> 
              <a href="/accounts/facebook/login" class="btn btn-block btn-lg btn-facebook"><i class="fa fa-facebook"></i> | Facebook</a>

              </li>
              <li class="list-group-item"> 
                  <a href="/accounts/google/login" class="btn btn-lg btn-block btn-google-plus"><i class="fa fa-google-plus"></i> | Google</a>
               </li>
              <li class="list-group-item"> 
                
                <a href= "/accounts/twitter/login"class=" btn btn-lg btn-block btn-twitter"><i class="fa fa-twitter"></i> | Twitter</a>
               </li>
                
            </ul>
           <h2>OR</h2>
        </div>
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy}}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
			
		</div>
	</div>
</div>


{% endblock %}