{%extends 'base.html'%}

{%block main_content%}

{%for userd in userdata%}
<ul class="nav nav-tabs">
    <li><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#Settings" data-toggle="tab">Settings</a></li>
    <li><a href="#Myads" data-toggle="tab">Myads</a></li>
</ul>
<div class="tab-content" id="tabs">
    <div class="tab-pane" id="home">
   		
    	<h1>Welcome {{userd.user.username}}</h1>
    	<p>Description: {{userd.about_me}} </p>


    	
    </div>
{%endfor%}
    <div class="tab-pane" id="Settings">
    <form  enctype="multipart/form-data" method="POST" action="/accounts/profile">
    {% csrf_token %}
    {{form1.as_p}}
    {% csrf_token %}
    {{form2.as_p}}
    	
    <input type="submit" value="Update">
    </form>
    	

    </div>
    <div class="tab-pane" id="Myads">

    {% for ad in userd.ad%}

    {%endfor%}
    	

    </div>


   
</div>



<script type="text/javascript">
	   $(document).ready(function(){
        activaTab('home');
    });

    function activaTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>

{%endblock%}
