{%extends 'base.html'%}

{%block main_content%}
    <div id="login" class="container">
    	<div class=" row">
    		<div class="col-sm-8">
		        <form class="form-horizontal" name="LoginForm" action="/accounts/signin/" method="post">
		        {% csrf_token %}

		        <div class="control-group">
		            <label class="control-label" for="username">Username</label>
		            <div class="controls">
		                <input type="text" id="username" name="username"  placeholder="Username">
		            </div>
		        </div>
		        <div class="control-group">
		            <label class="control-label" for="password">Password</label>
		            <div class="controls">
		                <input type="password" name="password" id="password" placeholder="Password">
		            </div>
		        </div>
		        <div class="control-group">
		            <div class="controls">
		                <button type="submit" class="btn btn btn-success">Login</button>

		            </div>
		      	<div class="control-group">
		            <div class="controls">
		                <a href="/accounts/signup" class="">Sign Up     </a>
		                <a href="/accounts/signup" class=""> /Forgot Password</a>
		            </div>
		        </div>
		        </form>
		    </div>
		</div>
    </div>

{%endblock%}