{%extends 'base.html'%}

{%block main_content%}

<div class="container" >
	<div class="row">
		<div class="col-md-12" id = "login">
			<form class= "form-horizontal"action="/accounts/signup/" method="POST">
				{%csrf_token%}
				
		        <div class="control-group">
		            <div class="controls">
		            {{form.as_p}}
		                <button type="submit" class="btn btn-success">Sign up</button>
		            </div>
			</form>
			
		</div>
	</div>
</div>

{%endblock%}