{%extends 'base.html'%}

{%block content%}

<div class="container" >
	<div class="row">
		<div class="col-md-12" id = "login">
		<p>Sucess full sign up</p>
		<a href="/"> home</a>
			
		</div>
	</div>
</div>

{%endblock%}