{%extends 'base.html'%}
{% load i18n %}
{%block main_content%}

{%for ad_detail in ad_detail%}  
 <h2>{{ad_detail.ad.title}}</h2>

<img src="{{imgs.0}}" class="img-responsive">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section" id="clickable-thumbnails">
                    <div class="container">
                        

                        <div class="row">
                        {%for im in imgs%}
                            <div class="col-md-2">
                                <a><img src="{{im}}" class="img-responsive"></a>
                            
                            </div>

                        {%endfor%}

                            
                        </div>

                   
                </div>
            </div>
        </div>
    </div>
   </div>
 <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>{{ad_detail.ad.city}}</h3>
                <h3>{{ad_detail.ad.ad_fields.price}}</h3></div>
            <div class="col-md-6">
                <h3>{{ad_detail.ad.ad_fields.phonenumber}}</h3>
                <h3>{{ad_detail.ad.ad_fields.delivery_options}}</h3></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{ad_detail.ad.ad_fields.more_detail}}</p>
            </div>
        </div>
    </div>


{%endfor%}

{%endblock%}