{%extends 'base.html'%}
{% load i18n %}
{%block main_content%}


                <ul class="media-list">
                		{%for name in ns%}
			
                    <li class="media">
                        <a class="pull-left" href="/posts/ad-post/{{name.id}}"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                        <div class="media-body">
                            <a href="/posts/ad-post/{{name.id}}"><h4 class="media-heading">{{name.ad}}</h4></a>
                           
                        </div>
                    </li>
                   {%endfor%}
                    
                </ul>

<div class="pagination">
    <span class="step-links">
        {% if ns.has_previous %}
            <a href="?{{params.urlencode}}&amp;?page={{ ns.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ns.number }} of {{ ns.paginator.num_pages }}.
        </span>

        {% if ns.has_next %}
            <a href="?{{params.urlencode}}&amp;page={{ ns.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>



{%endblock%}