{%extends 'base.html'%}

{% load i18n %}

{%block main_content%}

<div class="container" >
	<div class="row">
		<div class="col-md-12" >
		
		<ul class="list-group">
		{%for name in cats%}
			
		<li class = "list-group-item"><a href="/posts/category/?category={{name.cat_name}}">{{name.cat_name}}</a></li>
		{%endfor%}
		</ul>
			
		
		</div>
	</div>
</div>

{%endblock%}