{%extends 'userpost_base.html'%}
{% load i18n %}
{%block sitecss%}
<link rel="stylesheet" type="text/css" href="/static/css/lightslider.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/preview.css">
{%endblock%}

{%block main_content%}
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <h3>{{post.ad.title}}</h3>


		<div id="myimgs" >
		  <ul id="imageGallery">
		  {%for img in imgs%}
		    <li data-thumb="{{img}}" data-src="{{img}}">
		      <img src="{{img}}" />
		    </li>
		    {%endfor%}

 		    <!-- items mirrored twice, total of 12 -->
		  </ul>
		</div>
			      
      <div>
        <p style="word-wrap:break-word;">{{post.ad.ad_fields.more_detail}}</p>
      </div>

      </div>
      <div class="col-md-4">
        <div>
          <h2>Location</h2>
          <p>{{post.ad.city}}</p>
        </div>
        
        <div>
          <h2>Price</h2>
          <p>{{post.ad.ad_fields.price}}</p>
        </div>
        
        <div>
        <h2>Contact</h2>
          <p>{{post.ad.ad_fields.phone_number}}</p>
        </div>
        
        
      </div>
     <div class="container">
     	<div class = "row">
     		<div class="col-md-6">
     			<a href="{%url 'userpost_profilehome'%}" class= "btn btn-success"> Home</a>

     			<a href="{%url 'userpost_editpost' pk%}" class= "btn btn-success"> Edit</a>
     		</div>
     	</div>
     </div>
  </div>
  
</div>
{%endblock%}



{%block js_extra%}
<script type="text/javascript" src="/static/js/lightslider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#imageGallery').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        thumbItem:9,
        slideMargin:0,
        enableDrag: false,
        currentPagerPosition:'left',
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#imageGallery .lslide'
            });
        }   
    });  
  });
</script>
{%endblock%}