
/*#login {
  margin-top: 200px;
}*/

/*body {
    padding-top: 50px;  Whatever the height of your navbar is; the
                             default is 50px 
}*/


section {
    padding-top: 80px;
    padding-bottom: 80px;
}