<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="/media/siteimgs/kadiel.ico">
    {% block sitecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link type="text/css" rel="stylesheet" href="/static/css/master.css">
  <link type="text/css" rel="stylesheet" href="/static/css/side.css">
  {% endblock %}
  </head><body>
    <div class="navbar navbar-default navbar-static-top color">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kadiel</a>
        </div>
  


      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
 <ul  class="nav navbar-nav navbar-right">
 {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
     <li class="active"><a href="/">Home</a></li>
     <li class="active">
      <a href="/posts/create/"> Post</a>
     </li>

     <li class="active">
      <a href="/accounts/logout">Logout</a>
     </li>
    </ul>
  {% else %}
    <ul class="nav navbar-nav">
     <li class="active"><a href="/">Home</a></li>
     <li class="active">

      <a href="/accounts/login"> Login</a>
     </li>
      <li class="active">
      <a href="/posts/create/"> Post</a>
     </li>
     <li class="active">
      <a href="/accounts/signup">Register</a>
     </li>
    </ul>
    {% endif %}
    </ul>
        </div>
      </div>
    </div>
    

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <form role="search" action="search/" method="get">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="search here" name="q">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Search</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="section">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <h1>Welcome to Kadiel</h1>



                          </div>
                        </div>
                      </div>
                    </div>
                            {%block main_content%}
                            {%endblock%}
                            {%block content%}
                            {%endblock%}
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                    <h1>Featured</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="hidden-xs section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer header</h1>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li class="active">Support</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  

</body>

</html>