<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/media/siteimgs/kadiel.ico">
<!--     <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
 <link rel="stylesheet" type="text/css" href="/static/css/login.css/">
    {% block sitecss %} 
  {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top color" id="navbar-color">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/media/siteimgs/logo_80.png" style="
    vertical-align: middle;
    height: 1.75em;
    margin-top: -3px;
">Kadiel</a>
        </div>
  
      </div>
    </div>

<div class="container " >
  <div class="row text-center" >
    <div class="col-md-12 ">
  {%block content%}
{%endblock%}    
    </div>
  </div>
</div>

    <section id="features">
        <div class="container">
            
            <div class="row text-center">
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
  



                
        </div>
</div>


    </section>
   <footer>
        <div class="container">
<div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12">


    </div>
            </div>
    </footer>

</body>
</html>