{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="main.css" rel="stylesheet" type="text/css"> -->
      {% block sitecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link type="text/css" rel="stylesheet" href="/static/css/master.css">
  {% endblock %}

</head>

<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar navbar-default navbar-static-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/"><span>Soluba</span></a></div>
                            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
<!--                                 <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul> -->
                      <ul class="nav navbar-nav navbar-right">
                          {% if user.is_authenticated %}
                                    <ul class="nav navbar-nav navbar-right">
                                     <li class="active"><a href="/">{% trans 'Home' %}</a></li>
                                     <li class="active">

                                     </li class="active">
                                     <li>
                                      <a href="">{% trans 'Manage' %}</a>
                                     </li>
                                     <li class="active">
                                      <a href="/accounts/{{user.get_username}}">{% trans 'Settings' %}</a>
                                     </li>
                                     <li class="active">
                                      <a href="/accounts/signout">{% trans 'Logout' %}</a>

                                     </li>
                                     <li><a href="{%url 'createad'%}">{% trans 'Post' %}</a></li>
                                    </ul>
                            {% else %}
                                    <ul class="nav navbar-nav navbar-right">
                                     <li class="active"><a href="/">Home</a></li>
                                     <li class="active">
                                      <a href="/accounts/signin">{% trans 'Login' %}</a>

                                     </li >
                                      <li><a href="{%url 'createad'%}">{% trans 'Post' %}</a></li>
                                     <li class="active">
                                      <a href="/accounts/signup">{% trans 'Register' %}</a>
                                     </li>
                                    </ul>
                      {% endif %}
                      </ul>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- 
    Detail Content -->

    <div class="section">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                  {%block sidenav%}
                  {%endblock%}
                </div>
                <div class="col-md-8">
                  
					    {% block messages %}
					    {% if messages %}
					    <div class="messages">
					     <ul>
					      {% for message in messages %}
					      <li>{{ message }}</li>
					      {% endfor %}
					     </ul>
					    </div>
					    {% endif %}
					    {% endblock %}
                        <form role="search" class="text-search" action="/search" method="get" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" name='q'>
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>

                    
                    {%block main_content%}
                    {%endblock%}
                </div>

            </div>
        </div>
    </div>
    {%block Featured%}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    
                   
            </div>
        </div>
    </div>
     {%endblock%}
<!--     <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3></div>
                        <div class="panel-body">
                            <p>Panel content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

   <!--  etra content for future dev -->

    



<!-- Footer 
 -->


    <div class="col-md-12">
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Footer header</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left"> <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right"> <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  {% block extrajs %}
  {% endblock %}


</body>

</html>
