{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" type="image/x-icon" href="/media/siteimgs/kadiel.ico">
  <title>{% block title %}
         Soukouba| {{ site.name }}
{% endblock %}</title>

  {% block sitecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link type="text/css" rel="stylesheet" href="/static/css/master.css">
  {% endblock %}
  
  {% block head %}
  {% endblock %}
 </head>
 <body>
  {% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="/">Soukouba</a>
        </div>
       
       <div id="navbar" class="navbar-collapse collapse"> 
          
          <ul class="nav navbar-nav">
              <li>           

<form class="navbar-form" role="search" action="/search">
              <div class="input-group">
                  
                  <input type="text" class="form-control" placeholder="Search" name="q">
                  
                  <!-- <div class="input-group-btn"> -->
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  <!-- </div> -->
              </div>
</form> 
        
</li>

         </ul>
    <ul class="nav navbar-nav navbar-right">
  
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
     <li><a href="/">{% trans 'Home' %}</a></li>
     <li>
      <a href="">{% trans 'Post' %}</a>
     </li>
     <li>
      <a href="">{% trans 'Manage' %}</a>
     </li>
     <li>
      <a href="/accounts/{{user.get_username}}">{% trans 'Settings' %}</a>
     </li>
     <li>
      <a href="/accounts/signout">{% trans 'Logout' %}</a>
     </li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav">
     <li><a href="/">Home</a></li>
     <li>
      <a href="/accounts/signin">{% trans 'Login' %}</a>
     </li>
     <li>
      <a href="/accounts/signup">{% trans 'Register' %}</a>
     </li>
    </ul>
    {% endif %}
  

  </ul>
      </div>
    </div>
  </nav>


    {% block messages %}
    {% if messages %}
    <div class="messages">
     <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
     </ul>
    </div>
    {% endif %}
    {% endblock %}

            



{% block content %}{% endblock %}
  


  <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted"></p>
           <div class="links">
    <a href="#">{% trans 'Help' %}</a>
    <a href="/contact/">{% trans 'Contact Us' %}</a>
   </div>

   {% blocktrans %}
   Copyright &copy; 2015&nbsp;&mdash;&nbsp;
   Soukouba   {% endblocktrans %}

      </div>
</footer>


  {% block extrajs %}
  {% endblock %}

  {% endblock body %}

<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>

 </body>
</html>
