{%extends 'userpost_base.html'%}
{%load crispy_forms_tags%}
{%block main_content%}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form action="{%url 'userpost_editpost' adpk%}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form1 | crispy}}
			{{form2 | crispy}}
			
			<input type="submit" class="btn" value="Edit Ad">
			</form> 

		 <table class="table table-striped">
            <thead>
                <tr>
                    <th>Edit Images</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button class="btn btn-success" onclick="create_post()"><span class="pull-left hidden-xs showopacity glyphicon glyphicon-plus" ></span>Create</button></th>

                </tr>
            </thead>
            <tbody>

                <tr>
                	<td><img src="{{listimgs.img_1.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    <td><button class="btn btn-info"  data-toggle="modal" data-target="#img1modal" >Change</button></td>
                    <td><button class="btn btn-danger" onclick="delete_img({{adpk}}, {{img1pk}})">Delete</button></td>
                </tr>

                 <tr>
                	<td><img src="{{listimgs.img_2.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#img2modal" >Change</button></td>
                    <td><button class="btn btn-danger" onclick="delete_img({{adpk}}, {{img2pk}})">Delete</button></td>
                </tr>
                 <tr>
                	<td><img src="{{listimgs.img_3.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#img3modal" >Change</button></td>
                    <td><button class="btn btn-danger" onclick="delete_img({{adpk}}, {{img3pk}})">Delete</button></td>
                </tr>
                 <tr>
                	<td><img src="{{listimgs.img_4.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#img4modal" >Change</button></td>
                    <td><button class="btn btn-danger" onclick="delete_img({{adpk}}, {{img4pk}})">Delete</button></td>
                </tr>
                 <tr>
                	<td><img src="{{listimgs.img_5.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#img5modal" >Change</button></td>
                    <td><button class="btn btn-danger" onclick="delete_img({{adpk}},{{img5pk}})">Delete</button></td>
                </tr>

              
            </tbody>
        </table>
			
			<div>
				<a href="{%url 'adpreview' adpk%}" class="btn btn-success">Preview</a>
				<a href="{%url 'userpost_profilehome'%}" class="btn btn-large btn-success">Done</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="img1modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST", action="{%url 'userpost_updateimg' img1pk listimgspk 1 adpk%}">
                {%csrf_token%}
                  
                 {{form3|crispy}}

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                  </div>
                </form>       
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
        </div>
    
</div>



<div class="modal fade" id="img2modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST", action="{%url 'userpost_updateimg' img2pk listimgspk 2 adpk%}">
                {%csrf_token%}
 					
                {{form3|crispy}}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                  </div>
                </form>       
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="img3modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST", action="{%url 'userpost_updateimg' img3pk listimgspk 3 adpk%}">
                {%csrf_token%}
 					{{form3|crispy}}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                  </div>
                </form>       
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="img4modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST", action="{%url 'userpost_updateimg' img4pk listimgspk 4 adpk%}">
                {%csrf_token%}
 				{{form3|crispy}}

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                  </div>
                </form>       
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="img5modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST", action="{%url 'userpost_updateimg' img5pk listimgspk 5 adpk%}">
                {%csrf_token%}
                  {{form3|crispy}}

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                  </div>
                </form>       
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block js_extra%}
<script type="text/javascript" src="/static/js/editpost.js"></script>
{%endblock%}
