{%extends 'userpost_base.html'%}
{% load i18n %}

{%block main_content%}
<div class="container">
	<div class="row">
		<div class="col-md-12">
		
		<div>
			<h2>I BISSIMILAH {{request.user}}</h2>
		</div>
			
		<a href="/accounts/logout" class="btn btn-success"> Deconnecter</a>
		

 
    <div>
        <!--table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>La liste de vos annonces
</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button class="btn btn-success" onclick="create_post()"><span class="pull-left hidden-xs showopacity glyphicon glyphicon-plus" ></span> Poster</button></th>

                </tr>
            </thead>
            <tbody>
            {%for ad in userpostlist%}
                <tr>
                	<td><img src="{{ad.imgs.img_1.image.thumbnail.80x80}}"></td>
                    <td>{{ad}}</td>
                    
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-info" onclick="edit_post({{ad.id}})" >Modifier</button></td>
                    <td><button class="btn btn-success" onclick="preview_post({{ad.id}})">Aperçu</button></td>
                    <td><button class="btn btn-danger" onclick="delete_post({{ad.id}})">Supprimer</button></td>
                </tr>

                {%endfor%}
            </tbody>
        </table>
        <!--end of table-->
    </div>
 </div>
</div>		
</div>
{%endblock%}

{%block js_extra%}
<script type="text/javascript" src="/static/js/profile_home.js"></script>
{%endblock%}