{%extends 'userpost_base.html'%}
{%load crispy_forms_tags%}
{% load i18n %}
{%block main_content%}

<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="{{avatarimg}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <form>
        {{img| crispy}}
        <button type="Submit" method="POST" action="" class="btn btn-success" > Change</button>
          
        </form>
        
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
 
      <h3>Info Update</h3>
      <form class="form-horizontal" role="form" action="{%url 'userpost_edit_settings'%}" method="POST">
      {%csrf_token%}
      {{form1|crispy}}
      {{form2|crispy}}
        
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}