{%extends 'userpost_base.html'%}
{% load crispy_forms_tags %}
{% load i18n %}
{%block main_content%}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form action="{%url 'userpost_addimgs' adpk%}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{img_form|crispy}}
			
			
			<input type="submit" class="btn btn-success" value="Ad images ">
			</form> 
			
		</div>
	</div>
</div>
{%endblock%}