{%extends 'userpost_base.html'%}
{% load i18n %}
{% load crispy_forms_tags %}
{%block main_content%}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Remplir correctement toutes les formes</h2>
			<form action="{%url 'userpost_createad'%}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form1 | crispy}}
			{{form2 | crispy}}
			
			<input type="submit" class="btn btn-success" value="Place Ad">
			</form> 
			
		</div>
	</div>
</div>





{%endblock%}